
$flex-base-text-color:		   #333 !default;
$flex-base-background-color:   #fff !default;
$flex-base-font-size:		   16px !default;
$flex-base-line-height:		   24px !default;

$font-family-arial : "Arial", Arial, Helvatica, sans-serif;


$blue-base: #0099CC;
$bg-blue : #D5E7F0;
$white: #FFFFFF;
$white-base: #FFFFFF;
$black: #231F20;
$grey: #E6E7E8;
$green:  #67D184;
$orange:  #FE9550;
$red:  #E80C59;