.flex-container{
  display: flex;
  &.flex-content-middle{
    flex-direction: column;
    align-content: center;
  }

  &.no-flex-md{
    @media all and (max-width: 991px) {
      display: block;
    }
  }

  .flex{
    flex: 1;
  }

  .no-flex{
    flex: none;
  }

}


