//---------------------------------------------------------
// #Icons
//---------------------------------------------------------

// Index
// - Icon Font
// - Icon Font Classes

//---------------------------------------------------------
// #Icon Font
//---------------------------------------------------------


@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icons/icons.eot?8ovvqt');
  src:url('/fonts/icons/icons.eot?8ovvqt#iefix') format('embedded-opentype'),
  url('/fonts/icons/icons.ttf?8ovvqt') format('truetype'),
  url('/fonts/icons/icons.woff?8ovvqt') format('woff'),
  url('/fonts/icons/icons.svg?8ovvqt') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


//.icon-home:before {
//  font-family: icomoon;
//  content: "\f015";
//}
//
//
//.icon-trash:before {
//  content: "\f014";
//}
//
//.icon-down:before {
//  content: "\f0d7";
//}
//
//.icon-up:before {
//  content: "\f0d8";
//}
//
//.icon-left:before {
//  content: "\f0d9";
//}
//
//.icon-right:before {
//  content: "\f0da";
//}
//
//
//.icon-circle-filled:before {
//  content: "\f111";
//}
//
//.icon-user:before {
//  content: "\f2be";
//}


.icon {
  width: 20px;
  margin: 0 5px;
}

.icon-person{
  width: 25px;
  position: absolute;
  left: 0;
  top: -5px;

}