.main-table-container{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 30px;
  padding-bottom: 60px;
 // position: relative;
  justify-content: center;
}


.classes-table{
  width: 100%;
  tr{
    height: 50px;
  }
  td,th{
    width: 150px;
    padding: 20px 0;
  }

  td{
    //background-color: #DDD;
    text-align: center;
    transition: all 0.3s;

    &.done{
      background-color: $orange;
    }

    &.canceled{
      background-color: $red;
      color: white;
    }

    &.available{
      background-color: $green;
    }

    &:hover{
      cursor: pointer;
      box-shadow: 0 1px 2px rgba(0,0,0,0.3);
      opacity: 0.8;
    }
  }
}

.table-header{
  margin-bottom: 5px;

  th{
    padding: 10px 0;
  }

  .left-select{
    background: $black;
    color: white;
    font-size: 12px;
  }
}


