html{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}


*,
:after,
:before{
  box-sizing: border-box;
}


ul{
  list-style-type: square;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: $font-family-arial;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  @media screen and (max-width: 991px){
  padding-bottom: 10rem;
  }
}

.img-responsive{
  width: 100%;
  height: auto;
}

.brand-logo{
  max-width: 200px;
}

a{
  text-decoration: none;
}


*,
:after,
:before{
  box-sizing: border-box;
}


ul{
  list-style-type: square;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}



header{
  height: 60px;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
}



footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: #333333;
}

.footer-menu{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  li{
    float: left;
    padding-right: 20px;
    position: relative;
    &:hover{
      .bottom-bar{
        width: 100%;
        background-color: $blue-base;
      }
    }
    &:before{
      content: '|';
      position: absolute;
      right: 10px;
      top: -1px;
    }
    &:last-child{
      padding-right: 0;
      &:before{
        content: '';
      }
    }
  }
}

.footer__text-left{
  float: left;
  text-align: left;
  @media screen and (max-width: 991px){
    float: none;
    text-align: center;
    padding-bottom: 10px;
  }
}

.footer__text-right{
  float: right;
  text-align: right;
  @media screen and (max-width: 991px){
    float: none;
    text-align: center;
    padding-bottom: 10px;
  }
}




input[type='search'], input[type='text']{
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px 15px;
  height: 50px;
  font-size: 18px;
  border: 2px solid $grey;
  border-radius: 30px;
  color: #333333;

  &.input-search{
    margin: 50px auto;
    width: 60%;
  }
}




.lightbox{

  position: fixed;
  width: 0;
  height: 0;
  top:0;
  left: 0;
  z-index: 1;
  overflow: hidden;

  &.open{
    width: 100vw;
    height: 100vh;
    .lightbox-inner{
      top: 50%;
    }
  }

  .lightbox-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left: 0;
  }

  .lightbox-inner{
    width: 60%;
    height: 500px;
    position: relative;
    top:100%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    background: $grey;
    overflow-y: auto;
    padding: 0px 50px 50px 50px;
    transition: top 0.2s ease-in-out;
  }


}

.studentsList{
  list-style: none;
  width: 100%;
  li{
    padding: 15px;
  }
}


.btn{
  font-size: 16px;
  font-weight: bold;
  color: $white;
  padding: 10px 15px;
  width: 100%;
  min-height: 30px;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.btn--red{
  background: $red;
}

.btn--green{
  background: $green
}

