.text--xxl{
  font-size: 2.5rem;
}

.text--xl{
 font-size: 2rem;
}

.text--l{
  font-size: 1.75rem;
}

.text--m{
  font-size: 1.5rem;
}

.text--s{
  font-size: 1rem;
}

.text--xs{
  font-size: 0.875rem;
}

.text--black{
  color: $black;
}

.text--white{
  color: $white;
}

.text--italic{
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
}