/* ========================================================================
   #LAYOUT - UTILITIES
   ======================================================================== */





/* Margin: All
==========================================================================*/

.u-m-auto{
  margin: 0 auto;
}

.u-m-0{
  margin: 0!important;
}

.u-m-15{
  margin: 15px;
}

.u-m-30{
  margin: 30px;
}

.u-m-60{
  margin: 60px;
}

.u-m-90{
  margin: 90px;
}

.u-m-120{
  margin: 120px;
}





/* Margin: Top
==========================================================================*/

.u-mt-0{
  margin-top: 0 !important;
}

.u-mt-10{
  margin-top: 10px;
}

.u-mt-15{
  margin-top: 15px;
}

.u-mt-20{
  margin-top: 20px;
}

.u-mt-27{
  margin-top: 27px;
}

.u-mt-30{
  margin-top: 30px !important;

  @media (max-width: 991px){
    margin-top: 15px !important;
  }

}

.u-mt-30--responsive{

  @media (max-width: 991px){
    margin-top: 30px;
  }

}

.u-mt-40{
  margin-top: 40px;
}

.u-mt-44{
  margin-top: 44px;
}

.u-mt-45{
  margin-top: 45px;
}

.u-mt-50{
  margin-top: 45px;
}

.u-mt-60{
  margin-top: 60px;

  @media (max-width: 991px){
    margin-top: 30px;
  }

}

.u-mt-70{
  margin-top: 70px;

  @media (max-width: 991px){
    margin-top: 35px;
  }

}

.u-mt-90{
  margin-top: 90px;

  @media (max-width: 991px){
    margin-top: 45px;
  }

}

.u-mt-120{
  margin-top: 120px;

  @media (max-width: 991px){
    margin-top: 60px;
  }

}

.u-mt-30--responsive{
  margin-top: 0;

  @media (max-width: 991px){
    margin-top: 30px;
  }

}

.u-mt--20{

  @media (max-width: 991px){
    margin-top: -20px;
  }

}

.u-mt--4{
  margin-top: -4px;
}




/* Margin: Bottom
==========================================================================*/

.u-mb-0{
  margin-bottom: 0;
}

.u-mb-5{
  margin-bottom: 5px;
}

.u-mb-5--responsive{

  @media (max-width: 991px){
    margin-bottom: 5px;
  }

}

.u-mb-15{
  margin-bottom: 15px;
}

.u-mb-30{
  margin-bottom: 30px;

  @media (max-width: 991px){
    margin-bottom: 15px;
  }

}

.u-mb-30--responsive{

  @media (max-width: 991px){
    margin-bottom: 30px;
  }

}

.u-mb-30--responsive-l{

  @media (max-width: 1199px){
    margin-bottom: 30px;
  }

  @media (max-width: 768px){
    margin-bottom: 15px;
  }

}

.u-mb-30--responsive-m{

  @media (max-width: 991px){
    margin-bottom: 30px;
  }

  @media (max-width: 768px){
    margin-bottom: 15px;
  }

}

.u-mb-50{
  margin-bottom: 50px;

  @media (max-width: 991px){
    margin-bottom: 25px;
  }

}

.u-mb-60{
  margin-bottom: 60px !important;
  @media (max-width: 991px){
    margin-bottom: 30px !important;
  }
}

.u-mb-90{
  margin-bottom: 90px!important;
  @media (max-width: 991px){
    margin-bottom: 45px !important;
  }
}

.u-mb-120{
  margin-bottom: 120px;
}

.u-mb-0--responsive{

  @media (max-width: 991px){
    margin-bottom: 0px;
  }

}

.u-mb-30--responsive{
  margin-bottom: 0;

  @media (max-width: 991px){
    margin-bottom: 30px;
  }

}

// Need for 5grid cheatsheet
.u-mb-10--responsive {
  @media (max-width: 1199px){
    margin-bottom: 0px;
  }

  @media (max-width: 991px){
    margin-bottom: 10px;
  }

  @media (max-width: 768px){
    margin-bottom: 15px;
  }
}

.u-mb-20{
  margin-bottom: 20px;
}



/* Margin: Left
==========================================================================*/

.u-ml-0{
  margin-left: 0;
}

.u-ml-5{
  margin-left: 5px;
}

.u-ml-15{
  margin-left: 15px;
}

.u-ml-30{
  margin-left: 30px;
}

.u-ml-60{
  margin-left: 60px;
}

.u-ml-90{
  margin-left: 90px;
}

.u-ml-120{
  margin-left: 120px;
}





/* Margin: Left + Right
==========================================================================*/

.u-mlr-0{
  margin-left: 0px;
  margin-right: 0px;
}





/* Margin: Right
==========================================================================*/

.u-mr-0{
  margin-right: 0;
}

.u-mr-6{
  margin-right: 6px;
}

.u-mr-15{
  margin-right: 15px;
}

.u-mr-30{
  margin-right: 30px;
}

.u-mr-60{
  margin-right: 60px;
}

.u-mr-90{
  margin-right: 90px;
}

.u-mr-120{
  margin-right: 120px;
}





/* Margin: Top + Bottom
==========================================================================*/

.u-mtb-0{
  margin-top: 0px;
  margin-bottom: 0px;
}

.u-mtb-15{
  margin-top: 15px;
  margin-bottom: 15px;
}

.u-mtb-30{
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-mtb-45{
  margin-top: 45px;
  margin-bottom: 45px;
}

.u-mtb-60{
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-mtb-90{
  margin-top: 90px;
  margin-bottom: 90px;
}

.u-mtb-120{
  margin-top: 120px;
  margin-bottom: 120px;
}





/* Padding: All
==========================================================================*/

.u-p-0{
  padding: 0;
}

.u-p-5{
  padding: 5px;
}

.u-p-10{
  padding: 10px;
}

.u-p-12{
  padding: 12px;
}

.u-p-15{
  padding: 15px;
}

.u-p-18{
  padding: 18px;
}

.u-p-25{
  padding: 25px;
}

.u-p-30{
  padding: 30px;
}

.u-p-60{
  padding: 60px;
}

.u-p-90{
  padding: 90px;
}

.u-p-120{
  padding: 120px;
}

.u-p-30--responsive{
  @media (max-width: 991px){
    padding: 30px;
  }

}





/* Padding: Top
==========================================================================*/

.u-pt-0{
  padding-top: 0;
}

.u-pt-5{
  padding-top: 5px;
}

.u-pt-10{
  padding-top: 10px;
}

.u-pt-15{
  padding-top: 15px;
}

.u-pt-20{
  padding-top: 20px;
}

.u-pt-30{
  padding-top: 30px;
}

.u-pt-60{
  padding-top: 60px;
}

.u-pt-70{
  padding-top: 70px;
}

.u-pt-90{
  padding-top: 90px;

  @media (max-width: 991px){
    padding-top: 45px;
}}

.u-pt-120{
  padding-top: 120px;
}





/* Padding: Bottom
==========================================================================*/

.u-pb-0{
  padding-bottom: 0!important;
}

.u-pb-5{
  padding-bottom: 5!important;
}

.u-pb-15{
  padding-bottom: 15px;
}

.u-pb-30{
  padding-bottom: 30px;
}

.u-pb-40{
  padding-bottom: 40px;
}

.u-pb-60{
  padding-bottom: 60px;
}

.u-pb-90{
  padding-bottom: 90px!important;
  @media (max-width: 991px){
    padding-bottom: 45px!important;
  }
}

.u-pb-120{
  padding-bottom: 120px;
}

.u-pb-200{
  padding-bottom: 200px;

  @media (max-width: 991px){
    padding-bottom: 100px;
  }

}





/* Padding: Left
==========================================================================*/

.u-pl-0{
  padding-left: 0;
}

.u-pl-15{
  padding-left: 15px;
}

.u-pl-30{
  padding-left: 30px;
}

.u-pl-40{
  padding-left: 40px !important;
}

.u-pl-60{
  padding-left: 60px;
}

.u-pl-90{
  padding-left: 90px;
}

.u-pl-120{
  padding-left: 120px;
}





/* Padding: Right
==========================================================================*/

.u-pr-0{
  padding-right: 0;
}

.u-pr-5{
  padding-right: 5px;
}

.u-pr-15{
  padding-right: 15px;
}

.u-pr-30{
  padding-right: 30px;
}

.u-pr-60{
  padding-right: 60px;
}

.u-pr-90{
  padding-right: 90px;
}

.u-pr-120{
  padding-right: 120px;
}





/* Padding: Left + Right
==========================================================================*/

.u-plr-60--responsive{

  @media (max-width: 991px){
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: 768px){
    padding-left: 30px;
    padding-right: 30px;
  }

}

.u-plr-15{
  padding-left: 15px;
  padding-right: 15px;
}

.u-plr-15--responsive{

  @media (max-width: 991px){
    padding-left: 15px;
    padding-right: 15px;
  }

}

.u-plr-5{
  padding-left: 5px!important;
  padding-right: 5px!important;
}

.u-plr-0--responsive{

  @media (max-width: 991px){
    padding-left: 0;
    padding-right: 0;
  }

}





/* Padding: Top + Bottom
==========================================================================*/

.u-ptb-0{
  padding-top: 0px;
  padding-bottom: 0px;
}

.u-ptb-15{
  padding-top: 15px;
  padding-bottom: 15px;
}

.u-ptb-18{
  padding-top: 18px;
  padding-bottom: 18px;
}

.u-ptb-30{
  padding-top: 30px;
  padding-bottom: 30px;
  @media (max-width: 991px){
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

.u-ptb-60{
  padding-top: 60px;
  padding-bottom: 60px;

  @media (max-width: 768px){
    padding-top: 30px;
    padding-bottom: 30px;
  }

}

.u-ptb-90{
  padding-top: 90px;
  padding-bottom: 90px;
}

.u-ptb-120{
  padding-top: 120px;
  padding-bottom: 120px;
}





/* Typography
==========================================================================*/

.u-text-center{
  text-align: center;
}

.u-text-left{
  text-align: left;
}

.u-text-left--responsive{

  @media (max-width: 991px){
    text-align: left;
  }

}

.u-text-right{
  text-align: right;
}

.u-text-justify{
  text-align: justify;
}

.u-text-lowercase{
  text-transform: lowercase;
}

.u-text-uppercase{
  text-transform: uppercase;
}

.u-text-capital{
  text-transform: capitalize;
}

.u-text-bold{
  font-weight: bold;
}

.u-text-normal{
  font-weight: normal;
}

.u-text-italic{
  font-style: italic;
}

.u-text-shadow{
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.u-text-purple{
  //color: $purple-base;
}

.u-fs-25{
  font-size: 25px;
}

.u-fs-18{
  font-size: 18px;
}

.u-fs-16{
  font-size: 16px;
}

.u-fs-14{
  font-size: 14px;
}

.u-font-bold{
 // font-family: $main-font-sans-bold;
}





/* Float
==========================================================================*/

.u-float-right{
  float: right;
}

.u-float-left{
  float: left;
}

@media screen and (max-width: 991px) {
  .u-float-right-s {
    float: right;
  }
}


/* Flex
==========================================================================*/

.u-flex-none{
  flex: none;

  @media (max-width: 991px){
    flex: 100%;
  }

}

.u-flex-none--responsive{

  @media (max-width: 991px){
    flex: 100%;
  }

}

.u-flex,
.u-flex-one{
  flex: 1;
}

.u-flex-cell-m{
  flex: 1;
  @media (max-width: 991px) {
    flex: 100%;
  }
}



/* Visible
==========================================================================*/

.u-visible-x,
.u-visible-s,
.u-visible-m,
.u-visible-l{
  display: none;
}

@media (max-width: 767px){

  .u-visible-x{
    display: block;
  }

  table.u-visible-x{
    display: table;
  }

  tr.u-visible-x{
    display: table-row;
  }

  th.u-visible-x,
  td.u-visible-x{
    display: table-cell;
  }

}

@media (min-width: 768px) and (max-width: 991px){

  .u-visible-s{
    display: block;
  }

  table.u-visible-s{
    display: table;
  }

  tr.u-visible-s{
    display: table-row;
  }

  th.u-visible-s,
  td.u-visible-s{
    display: table-cell;
  }

}

@media (min-width: 992px) and (max-width: 1199px){

  .u-visible-m{
    display: block;
  }

  table.u-visible-m{
    display: table;
  }

  tr.u-visible-m{
    display: table-row;
  }

  th.u-visible-m,
  td.u-visible-m{
    display: table-cell;
  }

}

@media (min-width: 1200px){

  .u-visible-l{
    display: block;
  }

  table.u-visible-l{
    display: table;
  }

  tr.u-visible-l{
    display: table-row;
  }

  th.u-visible-l,
  td.u-visible-l{
    display: table-cell;
  }

}





/* Hidden
==========================================================================*/

.u-invisible{
  visibility: hidden;
}

.u-hidden{
  display: none !important;
}

@-ms-viewport{
  width: device-width;
}

@media (max-width: 767px){

  .u-hidden-x{
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 991px){

  .u-hidden-s{
    display: none;
  }

}

@media (min-width: 992px) and (max-width: 1199px){

  .u-hidden-m{
    display: none;
  }

}

@media (min-width: 1200px){

  .u-hidden-l{
    display: none;
  }

}





/* Background
==========================================================================*/

.u-bg-grey{
  background-color: $grey;

  .fact{
    margin: 0;
  }

}

.u-bg-white{
  background-color: #FFFFFF;
}

.u-bg-none{
  background-color: transparent;
}

.u-bg-blue{
  background: $bg-blue;
}




/* Colour
==========================================================================*/

.u-colour-white{
  color: #FFFFFF;
}





/* Widths
==========================================================================*/
.u-max-width {
  max-width: 100%!important;
}

.u-full-width{
  width: 100%;
}

.u-view-width {
  width: 100vw;
}

.u-width-80{
  width: 80%;
}

.u-width-70{
  width: 70%;
}

.u-width-60{
  width: 60%;
}

.u-half-width{
  width: 50%;
}

.u-half-width--responsive{

  @media (max-width: 1199px){
    width: 50%;
  }

}

.u-width-40{
  width: 40%;
}

.u-width-40--responsive{

  @media (max-width: 991px){
    width: 40%;
  }

}

.u-width-35{
  width: 35%;
}

.u-width-33{
  width: 33.3%;
}

.u-width-30{
  width: 30%;
}

.u-width-25{
  width: 25%;
}

.u-width-20{
  width: 20%;
}

.u-min-width-130{
  min-width: 130px;
}


/* Display
==========================================================================*/

.u-display-table{
  display: table;
  margin: 0 auto;
}

.u-display-inline{
  display: inline-block;
}

.u-display-block{
  display: block!important;
}

.u-display-inline-flex{
  display: inline-flex;
}





/* Position
==========================================================================*/

.u-p-relative{
  position: relative;
}
.u-p-absolute{
  position: absolute;
}

.u-top-5{
  top: 5px;
}

.u-top-6{
  top: 6px;
}





/* Clear
==========================================================================*/

.u-clear-both{
  clear: both;
}





/* Border
==========================================================================*/

.u-border-bottom--grey{
  border-bottom: 1px solid #EFEFEF;
}

.u-border-top--grey{
  border-top: 1px solid #EFEFEF;
}

//u-border-0

.u-border-none {
  border: none!important;
}





/* Height
==========================================================================*/

.u-height-40{
  height: 40px;
}

.u-height-50{
  height: 50px;
}

.u-min-height-275{
  min-height: 275px;
}

.u-min-height-300{
  min-height: 300px;
}

.u-min-height-305{
  min-height: 305px;
}

.u-full-height{
  height: 100%;
}





/* Lists
==========================================================================*/

.u-list-style-bullet{
  list-style: disc;
  list-style-position: outside;
  margin-left: 1em;
}


@media all and (max-width: 1199px) {
  .u-width-80px {
    width: 80px;
  }
}

/* Box-Shadow{
============================================================================
 */

.u-box-shadow-0{
  box-shadow: none !important;
}


.u-lock-scroll{
    overflow: hidden;
}


.u-wh-full{
  width: 100%;
  height: 100%;
}


.u-trans-all {
  transition: all 0.3s ease-in-out;
}

.overlay-dark1{
  background: rgba(0,0,0,0.26);
}

.overlay-dark-2{
  background: rgba(0,0,0,0.36);
}

.overlay-dark2{
  background: rgba(40,40,40,0.58);
}

/* clear default style{
============================================================================
 */

.u-default-none {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}